<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center;">
    <h1 class="title">
        Welcome to Company House
    </h1>
    <h5>The best data snapshot of live companies in the register</h5>
    <hr>
    <div class="row">
        <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Ex.: 9GAG" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn " id="button-addon2" (click)="getCompany()"> <i class="fas fa-search"></i></button>
    </div> 
    <div *ngIf="noSearchResult">
        <h5>Sorry... No data found!</h5>
    </div>
    <h5 *ngIf='loading'>Searching...</h5>  
</div>
<ngx-loading [show]="loading"></ngx-loading>