.input-group{
    width: 30%;
    margin: 0 auto;
}
.mb-3{
    margin-top: 3%;
}
.btn:hover{
    background-color: yellowgreen;
}
h3, h5{
    color: whitesmoke;
}
.title{
  font-family: 'Alsandra';
  // margin-top: 5%;
  // margin-bottom: 2%;
  font-size: 6.6em;
  // text-align: center;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
  // color:white;
}
