/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Open+Sans+Condensed:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand&display=swap");

@font-face {
  font-family: 'Alsandra';
  src: url('./assets/fonts/alsandra.ttf') format('truetype');
}

// body {
//     font-family: 'Open Sans Condensed', sans-serif;
//     overflow-x: hidden;
// }
body {
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
  background-color:royalblue;
}

.title{
  font-family: 'Alsandra';
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 5em;
  text-align: center;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
  color:#f47c46;
}

hr{
  width: 64%;
  text-align: center; 
  margin: 10px auto 10px auto;
  color: white;
}

/* Loading animation */
.bounce1,
.bounce2,
.bounce3 {
  background-color: #ffffff;
  width: 25px !important;
  height: 25px !important;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 2s infinite ease-in-out;
}

.bounce2 {
  margin-left: 50px;
}

.bounce3 {
  margin-left: 100px;
}

.spinner-three-bounce[_ngcontent-txq-c6] {
  width: 0px !important;
  text-align: center;
  position: absolute;
  top: 0;
  left: 620px !important;
  right: 0px;
  bottom: 0;
  height: 20px;
  margin: auto;
  z-index: 2000;
}
/* Loading animation END */
